api/vendor/
api/node_modules/
api/npm-debug.log

# Laravel 4 specific
api/bootstrap/compiled.php
api/app/storage/

# Laravel 5 & Lumen specific
api/public/storage
api/public/hot
api/storage/*.key
api/.env.*.php
api/.env.php
api/.env
api/Homestead.yaml
api/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
api/.rocketeer/
